* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,ul,menu {
  padding-inline-start: 0;
  list-style: none;
}

ol li {
  list-style-position: inside;
}

ol li::marker, ul li::before {
  letter-spacing: 0;
}